# Virtual environment
venv/
.venv/
pagepulse_ENV/
notebooks/pagepulse.ipynb
data/cleaned_data/
NOTES/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
logs/*.log

# Operating-system files
.DS_Store
Thumbs.db

# Editor files
.vscode/
